<h1>New Wiki</h1>

<div class="row">
  <div class="span6">
    <p>Go ahead, make a Wiki!</p>
    
    <p><em>Please make sure content is appropriate.<em/></p>
      
    
  </div>
  <div class="span6">

      <%= render 'form' %>

      <%= link_to 'Back', wikis_path %>
      
  </div>
</div>
